body{
    background: linear-gradient(
      61deg,
      rgb(226, 249, 255) 19%,
      rgb(215, 224, 226) 78%
    );
}

.listings{
    margin: 2rem 3rem;
}

.train-list{
    border-radius:20px;

}

.table-heads{
    background-color: rgb(192, 191, 191);
    font-size: 11px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 5vh;
    align-items: center;
    padding: 0 1rem;
}

.table-heads.div{
    justify-content: center;
}

.train-card{
    border: 1px solid black;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.card-upper-col{
    padding: 1rem 1rem;
}

.number-name{
    display:flex;
}

.train-number{
    border: 1px rgb(209, 206, 206) solid;
    height:30px;
    padding: 3px 3px;
    border: 1px rgb(29, 121, 158) solid;
    background-color: rgb(154, 220, 247);
    margin-right: 5px;
    border-radius: 5px;
}

.train-name{
    font-weight: 600;
}

.card-lower{
    padding: 1rem 1rem;
}

.coach-type{
    border: 1px rgb(125, 210, 243) solid;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    font-size: 12px;
}

.coach-type:hover{
    background-color: rgb(187, 230, 247) ;
}

.filter-bar{
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 0 5px 0;
}

.filter-head{
    height:5vh;
    border-bottom: 1px solid grey;
    background-color: rgb(196, 189, 189);

}

.filter-head{
    padding: 0 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


.label{
    color:rgb(167, 167, 167);
    font-size: 12px;
}

.timings{
    text-align: right;
}

.dep-filter,.arr-filter,.fare-classes{
    padding: 0 5px;
}

/* .color{
    background-color: rgb(214, 240, 250) ;
} */